<h2>Log In:</h2>

<form action='/authorize' method='post'>
  <input id='email' type='email' name='logemail' placeholder='Your email' required />
  <input id='password' type='password' name='logpassword' placeholder='Password' required />
  <button type='submit'>Log in</button>
</form>

<h2>or Register:</h2>

<form action='/authorize' method='post'>
  <input id='email' type='email'  name='email' placeholder='Your email' required />
  <input id='password' type='password' name='password' placeholder='Password' required />
  <input id='passwordConf' type='password' name='passwordConf' placeholder='Confirm password' required />
  <button type='submit'>Register</button>
</form>